.concept {
  &__img {
    grid-column: 1;
  }
  &__textbox {
    max-width: 31.3rem;
    padding-left: 2.063rem;
    text-align: center;
    align-self: center;
    &__title {
      padding-bottom: 1.7rem;
    }
    &__subtitle {
      padding-bottom: 1.8rem;
    }
    &__text {
      padding-bottom: 2.9rem;
    }
  }
}
