.container {
  padding-left: 5.625rem;
  padding-right: 5.625rem;
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
  &--top-s {
    padding-top: 3.125rem;
  }
  &--top-m {
    padding-top: 4.688rem;
  }
  &--bottom-s {
    padding-bottom: 6.25rem;
  }
}
