.footer {
  &__textbox {
    align-self: flex-end;
  }
  &__right {
    grid-column: 2;
    justify-self: end;
    align-self: flex-end;
  }
  &__logo {
    max-width: 14.063rem;
    padding-bottom: 1.7rem;
  }
  &__nav {
    max-width: 34.375rem;
    padding-top: 1.688rem;
  }
  &__text {
    position: relative;
    top: 0.8rem;
    right: 0;
  }
}
