.header {
  &__container {
    height: 750px;
  }
  &__background {
    max-height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__title {
    max-width: 270px;
    margin: 0;
  }
  &__link {
    grid-column: 2;
    justify-self: end;
    align-self: end;
  }
  &__nav {
    padding-left: 0.625rem;
  }
}
