.how-to {
  &__title {
    grid-column: span 2;
    padding-bottom: 7.5rem;
  }
  &__text1 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
  &__text2 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    grid-column: span 2;
    text-align: center;
  }
  &__img3 {
    grid-row: 2 / 5;
    grid-column: 2;
    align-self: center;
  }
  &__img4 {
    grid-column: span 2;
  }
}
