.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;

  &--size-m {
    width: 10rem;
    height: 10rem;
    font-size: 1.576rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
  }
  &--round {
    border-radius: 50%;
  }
  &--blue {
    background-color: #3d466c;
  }
}
